<div class="card border-primary mb-3">
  <div class="card-header">Pedidos</div>
  <div class="card-body text-primary">
      <h5 class="card-title">Listado de pedidos</h5>
      <div class="my-2 text-left"></div>
      <div *ngIf="orders?.length == 0" class="alert alert-info">
          No hay ordenes en la base de datos!
      </div>
      <table class="table table-bordered table-striped" *ngIf="orders?.length > 0">
          <tr *ngFor="let order of orders">
              <ul class="list-group my-2">
                  <li class="list-group-item list-group-item-primary">Datos de la orden</li>
                  <li class="list-group-item">Numero de factura: {{order.id}}</li>
                  <li class="list-group-item">Descripción: {{order.description}}</li>
                  <li class="list-group-item">Nota: {{order.note}}</li>
                  <li class="list-group-item">Fecha: {{order.createAt}}</li>
              </ul>
              <table class="table table-striped table-hover table-bordered my-3">
                  <thead>
                      <tr>
                          <th>Producto</th>
                          <th>Precio</th>
                          <th>Categoria</th>
                          <th>Cantidad</th>
                          <th>Total</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let item of order.items">
                          <td>{{item.product.name}}</td>
                          <td>{{item.product.price}}</td>
                          <td>{{item.product.category}}</td>
                          <td>{{item.quantity}}</td>
                          <td>{{item.import}}</td>
                      </tr>
                  </tbody>
              </table>
              <h5 class="float-right">
                  <span>Gran Total</span>: <span class="badge badge-secondary">{{order.total}}</span>
              </h5>

              <div class="card border-info mb-4" style="max-width: 350px;">
                  <div class="card card-header">
                      Nota:
                  </div>
                  <div class="card card-body">
                      <p *ngIf="!order.note">No tiene ninguna nota adjunta</p>
                      <p *ngIf="order.note">{{order.note}}</p>
                  </div>
              </div>
          </tr>
      </table>
  </div>
</div>
